/*This file contains tooltip styles.*/
.tooltipWrapper {
    position: relative;
    display: inline-block;
}

.tooltipWrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tooltip-bg-color);
    color: var(--text-color);
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 18px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
    z-index: 100;
}

.tooltipWrapper:hover::after {
    opacity: 1;
}