/*This file contains the tab page content styles for the settings dialog.*/
.settingsContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.settingsTopbar {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    flex-shrink: 0;
}